$pageBg:#EEEDF2;

html,
body {
    background-color: $pageBg;
    overflow-y: auto !important;
    width: 100vw;
    height: 100vh;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-application {
  background-color: var(--v-background-base) !important;
  overflow-x: hidden !important;
}

.cp {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

// mixins
$indexes: 10;

@mixin z-index-list {
    @for $i from 1 through $indexes {
        .z-index-#{$i} {
            z-index: $i;
        }
    }
}

$max-percentage: 100;

@mixin width-percentage {
  @for $i from 0 through $max-percentage {
    .w-#{$i} {
      width: percentage($i / 100);
    }
  }
}

@mixin height-percentage {
  @for $i from 0 through $max-percentage {
    .h-#{$i} {
      height: percentage($i / 100);
    }
  }
}

@include width-percentage;
@include height-percentage;
@include z-index-list;
